.artwork > img {
  height: 70px;
  width: 50px;
  margin: .25rem;
}

.gameName {
  max-width: 80%;
}
.platform {
  width: 70px;
}

.statusCell {
  cursor: pointer;
}

.statusWrapper {
  height: 100%;
  cursor: pointer;
  text-align: center;
}